{% extends 'user/data/form/update/sidebar.twig' %}
{% block title %}
  update poligami
{% endblock %}
{% block content %}
    
{% if login.gender == 'laki-laki' %}
<div class="card blue-grey darken-12">
            <div class="card-content white-text">
              <span class="card-title">Update Data Poligami</span>
        <div class="row">
            <form class="col s12" action="{{ path_for('user.post.update.poligami') }}" method="POST">
            <div class="row">
                <div class="input-field col s12 {{ errors.kesiapan ? 'has-error' : '' }}">
                  <select name="kesiapan">
                      <option value = "" disabled selected>Kesiapan</option>
                      <option value = "siap" {% if data.kesiapan == 'siap' %} selected="selected" {% endif %}>Siap</option>
                      <option value = "belum siap" {% if data.kesiapan == 'belum siap' %} selected="selected" {% endif %}>Belum siap</option>
                  </select>
                  {% if errors.kesiapan %}
                    <span style="color:#FF0000">*
                    {{errors.kesiapan | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.penjelasan_kesiapan ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="penjelasan_kesiapan" value="{{poligami.penjelasan_kesiapan}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Penjelasan Kesiapan</label>
                   {% if errors.penjelasan_kesiapan %}
                    <span style="color:#FF0000">*
                    {{errors.penjelasan_kesiapan | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.alasan_poligami ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="alasan_poligami" value="{{poligami.alasan_poligami}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Alasan Poligami</label>
                   {% if errors.alasan_poligami %}
                    <span style="color:#FF0000">*
                    {{errors.alasan_poligami | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.kondisi_istri ? 'has-error' : '' }}">
                 <select name="kondisi_istri">
                      <option value = "" disabled selected>Kondisi Istri</option>
                      <option value = "belum mengizinkan" {% if data.kondisi_istri == 'belum mengizinkan' %} selected="selected" {% endif %}>Belum Mengizinkan</option>
                      <option value = "sudah mengizinkan" {% if data.kondisi_istri == 'sudah mengizinkan' %} selected="selected" {% endif %}>Sudah Mengizinkan</option>
                      <option value = "mendukung dan mencarikan" {% if data.kondisi_istri == 'mendukung dan mencarikan' %} selected="selected" {% endif %}>Mendukung dan Mencarikan</option>
                      <option value = "belum punya istri" {% if data.kondisi_istri == 'belum punya istri' %} selected="selected" {% endif %}>Belum punya istri</option>
                  </select>
                   {% if errors.kondisi_istri %}
                    <span style="color:#FF0000">*
                    {{errors.kondisi_istri | first}}</span>
                  {% endif %}
                </div>

                </div>
              <button class="btn waves-effect waves-light">Create</button>
            </form>
          </div>

</div>
{% else %}
<div class="card blue-grey darken-12">
 <div class="card-content white-text">
  <span class="card-title">Update Data Poligami</span>
    <div class="row">
        <form class="col s12" action="{{ path_for('user.post.update.dipoligami') }}" method="POST">
        <div class="row">
            <div class="input-field col s12 {{ errors.kesiapan ? 'has-error' : '' }}">
              <select name="kesiapan">
                  <option value = "" disabled selected>Kesiapan</option>
                  <option value = "siap" {% if data.kesiapan == 'siap' %} selected="selected" {% endif %}>Siap</option>
                  <option value = "belum siap" {% if data.kesiapan == 'belum siap' %} selected="selected" {% endif %}>Belum siap</option>
              </select>
              {% if errors.kesiapan %}
                <span style="color:#FF0000">*
                {{errors.kesiapan | first}}</span>
              {% endif %}
            </div>

            <div class="input-field col s12 {{ errors.penjelasan_kesiapan ? 'has-error' : '' }}">
              <input type="text" class="validate" name="penjelasan_kesiapan" value="{{dipoligami.penjelasan_kesiapan}}">
              <label style="color:#ecf0f1" for="icon_prefix">Penjelasan Kesiapan</label>
               {% if errors.penjelasan_kesiapan %}
                <span style="color:#FF0000">*
                {{errors.penjelasan_kesiapan | first}}</span>
              {% endif %}
            </div>
        </div>
      <button class="btn waves-effect waves-light">Create</button>
    </form>
  </div>
{% endif %}
{% endblock %}
