{% extends 'templates/default.twig' %}
{% block title %}Match Making{% endblock %}
{% block wrapper %} All New User {% endblock %}
{% block breadcrumb %} User {% endblock %}
{% block breadcrumb_active %} All New Member {% endblock %}
{% block content %}
  <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats -->
  <div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Semua data member baru</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <!-- <div class="card-block card-dashboard">
                    <p class="card-text">Data data semua user</p>
                </div> -->
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Jenis Kelamin</th>
                                <th>Status</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in data %}
                            <tr>
                                <th scope="row">{{loop.index}}</th>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.gender}}</td>
                                <td>
                                </td>
                                <td>
                                    <a href="{{ path_for('admin.cancel.new.user', {'id':user.id}) }}" style="color:red" data-toggle="tooltip" data-placement="top" title="Delete User"><i class="icon-close2"></i></a>
                                    <a href="" style="color: #1a53ff"  data-placement="top" title="View Detail" data-toggle="modal" data-keyboard="false" data-target="#{{user.id}}"><i class="icon-eye4"></i></a>
                                </td>
                            </tr>
                           
                <!-- Modal -->
                <div class="modal fade text-xs-left" id="{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">Detail user</h4>
                      </div>
                      <div class="modal-body">
                        <div class="card-body">
        
                <div class="row match-height">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-xs-center">Detail User</h4>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                <b >Nama &emsp;&emsp;&emsp;&emsp;&nbsp;:<code>{{user.username}}</code></b>
                                <br>
                                <b >Jenis Kelamin &nbsp;&nbsp;:<code>{{user.gender}}</code></b><br>
                                <b >Email &emsp;&emsp;&emsp;&emsp;&nbsp;:<code>{{user.email}}</code></b><br>
                                <b >No telepon &emsp;&emsp;:<code>{{user.phone}}</code></b><br>
                                <b >Tanggal Daftar &nbsp;:<code>{{user.created_at | date("j F Y")}}</code></b><br>
                                </div>
                                <br>
                                <div class="row match-height">

                <div class="card-body">
                    <div class="card-block">

                        <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" aria-controls="active" aria-expanded="true">Foto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" aria-controls="link" aria-expanded="false">Foto ktp</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1">
                            <div role="tabpanel" class="tab-pane fade active in" id="active" aria-labelledby="active-tab" aria-expanded="true">
                            <div class="img-responsive">
                               <img src="{{ base_url() }}/assets/images/{{ user.photo }}" class="img-thumbnail" style="width:100%;height:30%" alt="">
                            </div>
                            </div>
                            <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab" aria-expanded="false">
                               <div class="img-responsive">
                               <img src="{{ base_url() }}/assets/images/{{ user.ktp }}" class="img-thumbnail" style="width:100%;height:30%" alt="">
                            </div>
                            </div> 
                        </div>
                    </div>
                           
                  <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ path_for('admin.approve.new.user', {'id':user.id}) }}"><button type="button" class="btn btn-outline-primary">Approve user</button></a>
                  </div>
                </div>
              </div>

            {% endfor %}
                        </tbody>
                    </table>

                        <div class="text-xs-right mb-3">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo; Prev</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">Next &raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
           
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}