{% extends 'templates/default.twig' %}
{% block title %}Match Making{% endblock %}
{% block wrapper %} Detail Member {% endblock %}
{% block breadcrumb %} Member {% endblock %}
{% block breadcrumb_active %} Semua Member / Detail Member` {% endblock %}
{% block content %}
  <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats -->
  <div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Detail Member <i>{{ profil.nama_lengkap }} </i></h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
                 <a href="{{ base_url() }}/admin/user"><button type="button" class="btn btn-outline-primary">Kembali</button></a>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" aria-controls="active" aria-expanded="true">User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" aria-controls="link" aria-expanded="false">Profil</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" id="dropdownOpt1-tab" href="#dropdownOpt1" data-toggle="tab" aria-controls="dropdownOpt1" aria-expanded="true">Keseharian</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" id="dropdownOpt2-tab" href="#dropdownOpt2" data-toggle="tab" aria-controls="dropdownOpt2" aria-expanded="true">Latar Belakang</a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="linkOpt-tab" data-toggle="tab" href="#linkOpt" aria-controls="linkOpt">Ciri Fisik</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" id="linkOpt1-tab" data-toggle="tab" href="#linkOpt1" aria-controls="linkOpt1">Data Poligami</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1">
                            <div role="tabpanel" class="tab-pane fade active in" id="active" aria-labelledby="active-tab" aria-expanded="true">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-block">
                                            <h4 class="card-title info">&nbsp;&nbsp;Data User</h4>
                                            <div class="col-md-4">
                                            <p class="card-text"><b>Username : <code>{{ user.username }}.</code></b></p>
                                            <p class="card-text"><b>Jenis Kelamin : <code>{{ user.gender }}</code></b></p>
                                            <p class="card-text"><b>Email : <code>{{ user.email }}</code></b></p>
                                            <p class="card-text"><b>Nomor Telepon : <code>{{ user.phone }}</code></b></p>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                            <p class="card-text"><b>&emsp;&emsp;&emsp;&emsp;&emsp; Foto <br><a data-toggle="modal" data-target="#foto" title="View Foto"><img src="{{ base_url() }}/assets/images/{{user.photo}}" style="width:70%" class="img-thumbnail" alt=""></b></a></p>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                            <p class="card-text"><b>&emsp;&emsp;&emsp;&emsp; Foto ktp <br><a data-toggle="modal" data-target="#ktp" title="View ktp"><img src="{{ base_url() }}/assets/images/{{user.ktp}}" style="width:70%;height;20%" class="img-thumbnail" alt=""></a></b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- Modal foto -->
                            <div class="modal fade text-xs-left" id="foto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel1">Foto Member</h4>
                                          </div>
                                          <div class="modal-body">
                                          <img src="{{ base_url() }}/assets/images/{{user.photo}}" style="width:100%" class="img-thumbnail" alt="">
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            <!-- Modal ktp member -->
                            <div class="modal fade text-xs-left" id="ktp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel1">Foto KTP member</h4>
                                          </div>
                                          <div class="modal-body">
                                          <img src="{{ base_url() }}/assets/images/{{user.ktp}}" style="width:100%" class="img-thumbnail" alt="">
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                            <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab" aria-expanded="false">
                                <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-block">
                                            <h4 class="card-title info">&nbsp;&nbsp;Data Profil</h4>
                                            <div class="col-md-6">
                                            <p class="card-text"><b>Nama Lengkap : <code>{{ profil.nama_lengkap }}.</code></b></p>
                                            <p class="card-text"><b>Tanggal Lahir : <code>{{ profil.tanggal_lahir | date("j F Y") }}.</code></b></p>
                                            <p class="card-text"><b>Tempat Lahir : <code>{{ profil.tempat_lahir }}.</code></b></p>
                                            <p class="card-text"><b>Alamat Rumah : <code>{{ profil.alamat }}.</code></b></p>
                                            <p class="card-text"><b>Umur : <code>{{ profil.umur }} Tahun.</code></b></p>
                                            <p class="card-text"><b>Kota : <code>{{ profil.kota }}.</code></b></p>
                                            </div>
                                            <div class="col-md-6">
                                            <p class="card-text"><b>Provinsi : <code>{{ profil.provinsi }}.</code></b></p>
                                            <p class="card-text"><b>Kewarganegaraan : <code>{{ profil.kewarganegaraan }}.</code></b></p>
                                            <p class="card-text"><b>Target Menikah : <code>{{ profil.target_menikah | date("j F Y") }}.</code></b></p>
                                            <p class="card-text"><b>Tentang Saya : <code>{{ profil.tentang_saya }}.</code></b></p>
                                            <p class="card-text"><b>Pasangan Yang Di Harapakan : <code>{{ profil.pasangan_harapan }}.</code></b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="dropdownOpt1" role="tabpanel" aria-labelledby="dropdownOpt1-tab" aria-expanded="false">
                                 <div class="card-block">
                                            <h4 class="card-title info">&nbsp;&nbsp;Data Keseharian</h4>
                                            <div class="col-md-6">
                                            <p class="card-text"><b>Pekerjaan : <code>{{ keseharian.pekerjaan }}.</code></b></p>
                                            <p class="card-text"><b>Merokok : <code>{{ keseharian.merokok }}.</code></b></p>
                                            <p class="card-text"><b>Status Pekerjaan : <code>{{ keseharian.status_pekerjaan }}.</code></b></p>
                                            <p class="card-text"><b>Penghasilan Perbulan : <code>{{ keseharian.penghasilan_per_bulan }}.</code></b></p>
                                            <p class="card-text"><b>Status : <code>{{ keseharian.status }}.</code></b></p>
                                            {% if keseharian.jumlah_anak == 0 %}
                                            <p class="card-text"><b>Jumlah Anak : <code>Tidak Ada.</code></b></p>
                                            {% else %}
                                            <p class="card-text"><b>Jumlah Anak : <code>{{ keseharian.jumlah_anak }} Anak.</code></b></p>
                                            {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                            <p class="card-text"><b>Status Tempat Tinggal : <code>{{ keseharian.status_tinggal }}.</code></b></p>
                                            <p class="card-text"><b>Memiliki Cicilan : <code>{{ keseharian.memiliki_cicilan }}.</code></b></p>
                                            <p class="card-text"><b>Bersedia Pindah Tempat Tinggal : <code>{{ keseharian.bersedia_pindah_tinggal }}.</code></b></p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="dropdownOpt2" role="tabpanel" aria-labelledby="dropdownOpt2-tab" aria-expanded="false">
                               <div class="card-block">
                                            <h4 class="card-title info">&nbsp;&nbsp;Data Latar Belakang</h4>
                                            <div class="col-md-6">
                                            <p class="card-text"><b>Pendidikan : <code>{{ latar.pendidikan }}.</code></b></p>
                                            <p class="card-text"><b>Penjelasan Pendidikan : <code>{{ latar.penjelasan_pendidikan }}.</code></b></p>
                                            <p class="card-text"><b>Agama : <code>{{ latar.agama }}.</code></b></p>
                                            <p class="card-text"><b>Penjelasan Agama : <code>{{ latar.penjelasan_agama }}.</code></b></p>
                                            <p class="card-text"><b>Muallaf : <code>{{ latar.muallaf }}.</code></b></p>
                                            <p class="card-text"><b>Baca Al-qur'an : <code>{{ latar.baca_quran }} Anak.</code></b></p>
                                            </div>
                                            <div class="col-md-6">
                                            <p class="card-text"><b>Hafalan Al-qur'an : <code>{{ latar.hafalan }}.</code></b></p>
                                            <p class="card-text"><b>Keluarga : <code>{{ latar.keluarga }}.</code></b></p>
                                            <p class="card-text"><b>Penjelasan Keluarga: <code>{{ latar.penjelasan_keluarga }}.</code></b></p>
                                            <p class="card-text"><b>Shalat: <code>{{ latar.shalat }}.</code></b></p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="linkOpt" role="tabpanel" aria-labelledby="linkOpt-tab" aria-expanded="false">
                                <div class="card-block">
                                            <h4 class="card-title info">&nbsp;&nbsp;Data Ciri Fisik</h4>
                                            <div class="col-md-6">
                                            <p class="card-text"><b>Tinggi : <code>{{ fisik.tinggi }} cm.</code></b></p>
                                            <p class="card-text"><b>Berat : <code>{{ fisik.berat }} kg.</code></b></p>
                                            <p class="card-text"><b>Warna Kulit : <code>{{ fisik.warna_kulit }}.</code></b></p>
                                            <p class="card-text"><b>Suku : <code>{{ fisik.suku }}.</code></b></p>
                                            {% if fisik.jenggot == NULL %}
                                            <p class="card-text"><b>Jenggot : <code>- .</code></b></p>
                                            {% else %}
                                            <p class="card-text"><b>Jenggot : <code>{{ fisik.jenggot }}.</code></b></p>
                                            {% endif %}
                                            {% if fisik.hijab == NULL %}
                                            {% else %}
                                            <p class="card-text"><b>Hijab : <code>{{ fisik.hijab }}.</code></b></p>
                                            {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                            {% if hijab.cadar == NULL %}
                                            {% else %}
                                            <p class="card-text"><b>Cadar : <code>{{ fisik.cadar }} .</code></b></p>
                                            {% endif %}
                                            <p class="card-text"><b>Kacamata : <code>{{ fisik.kaca_mata }} .</code></b></p>
                                            <p class="card-text"><b>Status Kesehatan : <code>{{ fisik.status_kesehatan }} .</code></b></p>
                                            <p class="card-text"><b>Ciri Fisik Lain: <code>{{ fisik.ciri_fisik_lain }}.</code></b></p>
                                            </div>
                                        </div>
                                    </div>
                                <div class="tab-pane fade" id="linkOpt1" role="tabpanel" aria-labelledby="linkOpt1-tab" aria-expanded="false">
                                <div class="card-block">
                                            <h4 class="card-title info">&nbsp;&nbsp;Data Poligami</h4>
                                            <div class="col-md-6">
                                            {% if user.gender == 'laki-laki' %}
                                            <p class="card-text"><b>Siap Berpoligami : <code>{{ poligami.kesiapan }}.</code></b></p>
                                            <p class="card-text"><b>Penjelasan : <code>{{ poligami.penjelasan_kesiapan }}.</code></b></p>
                                            {% if poligami.kesiapan == 'siap' %}
                                            <p class="card-text"><b>Alasan Poligami : <code>{{ poligami.alasan_poligami }}.</code></b></p>
                                            <p class="card-text"><b>Kondisi Istri : <code>{{ poligami.kondisi_istri }}.</code></b></p>
                                            {% endif %}
                                            {% endif %}
                                           {% if user.gender == 'perempuan' %}
                                            <p class="card-text"><b>Siap Menikan Dengan Pria Beristri : <code>{{ dipoligami.kesiapan }}.</code></b></p>
                                            <p class="card-text"><b>Penjelasan : <code>{{ dipoligami.penjelasan_kesiapan }}.</code></b></p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}