<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Making</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/app-assets/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/app-assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/app-assets/css/bootstrap-extended.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/app-assets/css/app.css">


<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/app-assets/css/colors.css">
 
    <link rel="stylesheet" href="{{ base_url() }}/assets/assets/css/user.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/assets/css/scrollbar.css">
</head>

<body> 


<div class="container  scrollbar" class="box-shadow-2" id="style-10">
{% include 'user/templates/navbar.twig' %}
        <div class="midle">
        {% block content %}
            
        {% endblock %}
        </div>
</div>

    <script src="{{ base_url() }}/assets/app-assets/js/core/libraries/jquery.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/js/tooltip.js" type="text/javascript"></script>
    <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <script src="{{ base_url() }}/assets/app-assets/vendors/js/ui/tether.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/vendors/js/ui/unison.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/assets/js/alert.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/js/tooltip.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/js/scrollbar.js" type="text/javascript"></script>

</body>
</html>
