{% extends 'templates/default.twig' %}
{% block title %}Match Making{% endblock %}
{% block wrapper %} Home {% endblock %}
{% block breadcrumb %} Dashboard {% endblock %}
{% block content %}
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="pink">{{ counts.userWoman }}</h3>
                            <span>List member akhwat</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-woman pink font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="teal"> {{ counts.userMan }} </h3>
                            <span>List member ikhwan</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-man teal font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="deep-orange">{{ counts.newUser }}</h3>
                            <span>Member baru</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-user-check deep-orange font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="deep-orange"> {{ counts.allUser }} </h3>
                            <span>Total Member Yang Terdaftar</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-users deep-orange font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="deep-orange">{{ counts.userRequest }}</h3>
                            <span>Member Request</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-send-o deep-orange font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="cyan">{{ counts.userProses }}</h3>
                            <span>Member Proses</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-man-woman cyan font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     
{% endblock %}