<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktivasi account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{{ base_url() }}/assets/images/logo.png">
    <link rel="stylesheet" href="{{ base_url() }}/assets/assets/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/assets/assets/css/user.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/assets/css/scrollbar.css">
    {% block css %}
        
    {% endblock %}
 </head>

<body> 
<center>
<div>
     <div class="row" style="margin-top:160px;width:100%;">
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content">
            <b style=" font-family:initial;font-style:oblique;font-size:25px">Activasi account</b>
              <p style=" font-family:initial;font-style:oblique;font-size:20px">{{ message }}.</p>
            </div>
            <div class="card-action">
              <a href="{{ path_for('user.login') }}" >Login</a>
            </div>
          </div>
        </div>
      </div>
</div>  </center>
</body>
    <script src="{{ base_url() }}/assets/app-assets/js/core/libraries/jquery.min.js" type="text/javascript"></script>

    <script src="{{ base_url() }}/assets/app-assets/vendors/js/ui/tether.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/vendors/js/ui/unison.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/assets/js/alert.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/js/tooltip.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/js/scrollbar.js" type="text/javascript"></script>

      <script src="{{ base_url() }}/assets/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/assets/js/tooltip.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/assets/js/materialize.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/assets/js/alert.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/js/scrollbar.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/assets/js/date-picker.js" type="text/javascript"></script>
</body>
</html>
