{% extends 'user/templates/default.twig' %}
{% block title %} Notification {% endblock %}
{% block content %}<!-- 
<div class="container" style="width:100%;">
    <h5 style="font-family:initial;font-style:oblique">Notification</h5>
     <div class="collection">
     {% for data in data  %}
        <p class="collection-item" ><span style="float:right"><a href="{{ path_for('user.approve.request', {id:data.id_perequest}) }}" style="color:green" data-position="bottom" data-delay="50" data-tooltip="Approve Request" class="tooltipped"><i class="material-icons">done</i></a><a href="{{ path_for('user.blokir-notification', {id:data.id_perequest}) }}" style="color:red" data-position="bottom" data-delay="50" data-tooltip="Tolak Request" class="tooltipped"><i class="material-icons">clear</i></a></span>
        {% if login.gender == 'laki-laki' %}
            <a href="{{ path_for('user.notification.detail', {id:data.id_perequest}) }}"  data-position="bottom" data-delay="50" data-tooltip="View Request Detail User" class="tooltipped"><img src="{{ base_url() }}/assets/picture/woman.jpg"  class="circle responsive-img"  width="650" style="width:10%" alt=""></a><br>{{data.perequest}} <b style="color:black;float:right"> sent a request to you</b></p>
        {% else %}
            <a href="{{ path_for('user.notification.detail', {id:data.id_perequest}) }}"  data-position="bottom" data-delay="50" data-tooltip="View Request Detail User" class="tooltipped"><img src="{{ base_url() }}/assets/picture/avatar.png"  class="circle responsive-img"  width="650" style="width:10%" alt=""></a><br>{{data.perequest}} <b style="color:black;float:right"> sent a request to you</b></p>
        {% endif %}
     {% endfor %}

     {% for data in blokir  %}
     {% if login.gender == 'perempuan' %}
        <p class="collection-item" ><span style="float:right"><a href="{{ path_for('user.delete.notification', {id:data.id_terequest}) }}" style="color:red" data-position="bottom" data-delay="50" data-tooltip="Delete Notification" class="tooltipped"><i class="material-icons">clear</i></a></span><a href="{{ path_for('user.notification.detail', {id:data.id_perequest}) }}"  data-position="bottom" data-delay="50" data-tooltip="View Request Detail User" class="tooltipped"><img src="{{ base_url() }}/assets/picture/avatar.png"  class="circle responsive-img"  width="650" style="width:10%" alt=""></a><br>{{data.terequest}} <b style="color:black;float:right"> menolak request anda</b></p>
     {% else %}
          <p class="collection-item" ><span style="float:right"><a href="{{ path_for('user.delete.notification', {id:data.id_terequest}) }}" style="color:red" data-position="bottom" data-delay="50" data-tooltip="Delete Notification" class="tooltipped"><i class="material-icons">clear</i></a></span><a href="{{ path_for('user.notification.detail', {id:data.id_perequest}) }}"  data-position="bottom" data-delay="50" data-tooltip="View Request Detail User" class="tooltipped"><img src="{{ base_url() }}/assets/picture/woman.jpg"  class="circle responsive-img"  width="650" style="width:10%" alt=""></a><br>{{data.terequest}} <b style="color:black;float:right"> menolak request anda</b></p>
     {% endif %}
     {% endfor %}

</div> -->
 <ul class="collection with-header">
            <li class="collection-header"><b style="font-family:initial;font-style:oblique;font-size:20px">Notification</b></li>

        <!-- Request -->
            {% for notif in data %}
            {% if login.gender == 'perempuan' %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/avatar.png" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; <a href="{{ path_for('user.notification.detail', {id:notif.id_perequest}) }}" style="color:#26a69a">{{notif.perequest}}</a>
                {% if notif.request_status == 1 %}
                <a href="{{ path_for('user.blokir-notification', {id:notif.id_perequest}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Tolak Request" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;">
                {% else %}
                <a href="{{ path_for('user.delete.notification', {id:notif.id_terequest}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Hapus Notification" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;"> 
                {% endif %}
                
                {% if notif.request_status == 1 %}
                <a href="{{ path_for('user.approve.request', {id:notif.id_perequest}) }}" style="color:green;float:right;" data-position="bottom" data-delay="50" data-tooltip="Approve Request" class="tooltipped"><i class="material-icons">check</i></a><i style="float:right;"></i>
                Mengirimkan request ke kamu | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{notif.created_at|date("F jS \\a\\t H:i")}}">{{notif.created_at|date("H:i")}}</a> &emsp;</i>
                {% else %}
                Menerima request kamu | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{notif.created_at|date("F jS \\a\\t H:i")}}">{{notif.created_at|date("H:i")}}</a> &emsp;</i>
                {% endif %}
            {% else %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/woman.jpg" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; <a href="{{ path_for('user.notification.detail', {id:notif.id_perequest}) }}" style="color:#26a69a">{{notif.perequest}}</a>
                {% if notif.request_status == 1 %}
                <a href="{{ path_for('user.blokir-notification', {id:notif.id_perequest}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Tolak Request" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;">
                {% else %}
                <a href="{{ path_for('user.delete.notification', {id:notif.id_terequest}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Hapus Notification" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;"> 
                {% endif %}
                
                {% if notif.request_status == 1 %}
                <a href="{{ path_for('user.approve.request', {id:notif.id_perequest}) }}" style="color:green;float:right;" data-position="bottom" data-delay="50" data-tooltip="Approve Request" class="tooltipped"><i class="material-icons">check</i></a><i style="float:right;"></i>
                Mengirimkan request ke kamu | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{notif.created_at|date("F jS \\a\\t H:i")}}">{{notif.created_at|date("H:i")}}</a> &emsp;</i>
                {% else %}
                Menerima request kamu | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{notif.created_at|date("F jS \\a\\t H:i")}}">{{notif.created_at|date("H:i")}}</a> &emsp;</i>
                {% endif %}
                </li>
            {% endif %}
            {% endfor %}

    <!-- Blokir -->
            {% for data in blokir %}
            {% if login.gender == 'perempuan' %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/avatar.png" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; <a href="{{ path_for('user.notification.detail', {id:data.id_perequest}) }}" style="color:#26a69a">{{data.terequest}}</a><a href="{{ path_for('user.delete.notification', {id:data.id_terequest}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Hapus Notifikasi" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;">

                Menolak request kamu | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{data.created_at|date("F jS \\a\\t H:i")}}">{{data.created_at|date("H:i")}}</a> &emsp;</i></li>
            {% else %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/woman.jpg" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; <a href="{{ path_for('user.notification.detail', {id:data.id_perequest}) }}" style="color:#26a69a">{{data.terequest}}</a><a href="{{ path_for('user.delete.notification', {id:data.id_terequest}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Hapus Notifikasi" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;">

                Menolak request kamu | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{data.created_at|date("F jS \\a\\t H:i")}}">{{data.created_at|date("H:i")}}</a> &emsp;</i> </li>
            {% endif %}
            {% endfor %}
      </ul>
{% endblock %}

