{% extends 'user/templates/default.twig' %}
{% block title %}
    Create Ciri Fisik
{% endblock %}
{% block content %}
    
{% if login.status == 1 %}
<div class="card blue-grey darken-12">
            <div class="card-content white-text">
              <span class="card-title">Create Ciri Fisik</span>
        <div class="row">
        {% if login.gender == 'laki-laki' %}
            <form class="col s12" action="{{ path_for('user.post.create.ciri-fisik') }}" method="POST">
        {% else %}
             <form class="col s12" action="{{ path_for('user.post.create.ciri-fisik.wanita') }}" method="POST">
        {% endif %}
            <div class="row">
                <div class="input-field col s12 {{ errors.tinggi ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="tinggi"  value="{{old.tinggi}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Tinggi Badan</label>
                  {% if errors.tinggi %}
                    <span style="color:#FF0000">*
                    {{errors.tinggi | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.berat ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="berat" value="{{old.berat}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Berat Badan</label>
                   {% if errors.berat %}
                    <span style="color:#FF0000">*
                    {{errors.berat | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.warna_kulit ? 'has-error' : '' }}">
                  <select name="warna_kulit">
                    <option value = "" disabled selected>Warna Kulit</option>
                    <option value = "sangat putih" {% if old.warna_kulit == 'sangat putih' %} selected="selected" {% endif %} >Sangat putih</option>
                    <option value = "putih" {% if old.warna_kulit == 'putih' %} selected="selected" {% endif %} >Putih</option>
                    <option value = "kuning langsat" {% if old.warna_kulit == 'kuning langsat' %} selected="selected" {% endif %} >Kuning langsat</option>
                    <option value = "kuning" {% if old.warna_kulit == 'kuning' %} selected="selected" {% endif %} >Kuning</option>
                    <option value = "sawo matang" {% if old.warna_kulit == 'sawo matang' %} selected="selected" {% endif %} >Sawo matang</option>
                    <option value = "coklat" {% if old.warna_kulit == 'coklat' %} selected="selected" {% endif %} >Coklat</option>
                    <option value = "gelap" {% if old.warna_kulit == 'gelap' %} selected="selected" {% endif %} >Gelap</option>
                  </select>
                   {% if errors.warna_kulit %}
                    <span style="color:#FF0000">*
                    {{errors.warna_kulit | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.suku ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="suku" value="{{old.suku}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Suku</label>
                   {% if errors.suku %}
                    <span style="color:#FF0000">*
                    {{errors.suku | first}}</span>
                  {% endif %}
                </div>

              {% if login.gender == 'laki-laki' %}

                <div class="input-field col s12 {{ errors.jenggot ? 'has-error' : '' }}">
                 <select name="jenggot">
                    <option value = "" disabled selected>Jenggot</option>
                    <option value = "dicukur" {% if old.jenggot == 'dicukur' %} selected="selected" {% endif %} >Dicukur</option>
                    <option value = "tipis" {% if old.jenggot == 'tipis' %} selected="selected" {% endif %} >Tipis</option>
                    <option value = "sedang" {% if old.jenggot == 'sedang' %} selected="selected" {% endif %} >Sedang</option>
                    <option value = "panjang" {% if old.jenggot == 'panjang' %} selected="selected" {% endif %} >Panjang</option>
                  </select>
                   {% if errors.jenggot %}
                    <span style="color:#FF0000">*
                    {{errors.jenggot | first}}</span>
                  {% endif %}
                </div>

              {% else %}

                <div class="input-field col s12 {{ errors.hijab ? 'has-error' : '' }}">
                  <select name="hijab">
                    <option value = "" disabled selected>Hijab</option>
                    <option value = "sangat panjang" {% if old.hijab == 'sangat panjang' %} selected="selected" {% endif %} >Sangat panjang</option>
                    <option value = "panjang" {% if old.hijab == 'panjang' %} selected="selected" {% endif %} >Panjang</option>
                    <option value = "sedang" {% if old.hijab == 'sedang' %} selected="selected" {% endif %} >Sedang</option>
                    <option value = "kecil" {% if old.hijab == 'kecil' %} selected="selected" {% endif %} >Kecil</option>
                    <option value = "belum berhijab" {% if old.hijab == 'belum berhijab' %} selected="selected" {% endif %} >Belum berhijab</option>
                  </select>
                   {% if errors.hijab %}
                    <span style="color:#FF0000">*
                    {{errors.hijab | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.cadar ? 'has-error' : '' }}">
                   <select name="cadar">
                    <option value = "" disabled selected>Cadar</option>
                    <option value = "ya" {% if old.cadar == 'ya' %} selected="selected" {% endif %} >Ya</option>
                    <option value = "tidak" {% if old.cadar == 'tidak' %} selected="selected" {% endif %} >Tidak</option>
                    <option value = "setelah menikah" {% if old.cadar == 'pernah' %} selected="selected" {% endif %} >Setelah Menikah</option>
                  </select>
                   {% if errors.cadar %}
                    <span style="color:#FF0000">*
                    {{errors.cadar | first}}</span>
                  {% endif %}
                </div>
              {% endif %}

                <div class="input-field col s12 {{ errors.kaca_mata ? 'has-error' : '' }}">
                   <select name="kaca_mata">
                    <option value = "" disabled selected>Kaca Mata</option>
                    <option value = "ya" {% if old.kaca_mata == 'ya' %} selected="selected" {% endif %} >Ya</option>
                    <option value = "tidak" {% if old.kaca_mata == 'tidak' %} selected="selected" {% endif %} >Tidak</option>
                  </select>
                   {% if errors.kaca_mata %}
                    <span style="color:#FF0000">*
                    {{errors.kaca_mata | first}}</span>
                  {% endif %}
                </div>

                 <div class="input-field col s12 {{ errors.status_kesehatan ? 'has-error' : '' }}">
                   <select name="status_kesehatan">
                    <option value = "" disabled selected>Status Kesehatan</option>
                    <option value = "sehat" {% if old.status_kesehatan == 'sehat' %} selected="selected" {% endif %} >Sehat</option>
                    <option value = "masalah kesehatan serius" {% if old.status_kesehatan == 'masalah kesehatan serius' %} selected="selected" {% endif %} >Masalah Kesehatan Serius</option>
                    <option value = "cacat fisik ringan" {% if old.status_kesehatan == 'cacat fisik ringan' %} selected="selected" {% endif %} >Cacat fisik ringan</option>
                    <option value = "cacat fisik serius" {% if old.status_kesehatan == 'cacat fisik serius' %} selected="selected" {% endif %} >Cacat fisik serius</option>
                  </select>
                   {% if errors.status_kesehatan %}
                    <span style="color:#FF0000">*
                    {{errors.status_kesehatan | first}}</span>
                  {% endif %}
                  </div>

                <div class="input-field col s12 {{ errors.ciri_fisik_lain ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="ciri_fisik_lain" value="{{old.ciri_fisik_lain}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Ciri Fisik Lain</label>
                   {% if errors.ciri_fisik_lain %}
                    <span style="color:#FF0000">*
                    {{errors.ciri_fisik_lain | first}}</span>
                  {% endif %}
                </div>               
                </div>
              <button class="btn waves-effect waves-light">Create</button>
            </form>
          </div>

</div>
{% endif %}
{% endblock %}
