{% extends 'user/templates/default.twig' %}
{% block title %}
    Create Keseharian
{% endblock %}
{% block content %}
    

<div class="card blue-grey darken-12">
            <div class="card-content white-text">
              <span class="card-title">Create Keseharian</span>
        <div class="row">
            <form class="col s12" action="{{ path_for('user.post.create.keseharian') }}" method="POST">
            <div class="row">
                <div class="input-field col s12 {{ errors.pekerjaan ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="pekerjaan"  value="{{old.pekerjaan}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Pekerjaan</label>
                  {% if errors.pekerjaan %}
                    <span style="color:#FF0000">*
                    {{errors.pekerjaan | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.status_pekerjaan ? 'has-error' : '' }}">
                 <select name="status_pekerjaan">
                    <option value = "" disabled selected>Status Pekerjaan</option>
                    <option value = "full-time">Full time</option>
                    <option value = "part-time">Part time</option>
                    <option value = "rumah tangga">Rumah Tangga</option>
                    <option value = "pensiun">Sudah Pensiun</option>
                    <option value = "tidak bekerja">Tidak bekerja</option>
                    <option value = "pelajar/mahasiswa">Pelajar/Mahasiswa</option>
                    <option value = "lainya">Lainya</option>
                  </select>
                   {% if errors.status_pekerjaan %}
                    <span style="color:#FF0000">*
                    {{errors.status_pekerjaan | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.penghasilan_per_bulan ? 'has-error' : '' }}">
                   <select name="penghasilan_per_bulan">
                    <option value = "" disabled selected>Penghasilan per bulan</option>
                    <option value = "tidak bekerja">Tidak Bekerja</option>
                    <option value = "di bawah Rp 1 juta">Di bawah Rp 1 juta</option>
                    <option value = "Rp 1 juta - Rp 2,5 juta">Rp 1 juta - Rp 2,5 juta</option>
                    <option value = "Rp 2,5 juta - Rp 5 juta">Rp 2,5 juta - Rp 5 juta</option>
                    <option value = "Rp 5 juta - Rp 10 juta">Rp 5 juta - Rp 10 juta</option>
                    <option value = "Rp 10 juta - Rp 30 juta">Rp 10 juta - Rp 30 juta</option>
                    <option value = "di atas Rp 30 juta">di atas Rp 30 juta</option>
                  </select>
                   {% if errors.penghasilan_per_bulan %}
                    <span style="color:#FF0000">*
                    {{errors.penghasilan_per_bulan | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.merokok ? 'has-error' : '' }}">
                 <select name="merokok">
                    <option value = "" disabled selected>Merokok</option>
                    <option value = "masih">Masih</option>
                    <option value = "tidak">Tidak</option>
                    <option value = "pernah">Pernah, tapi sudah tidak</option>
                  </select>
                   {% if errors.merokok %}
                    <span style="color:#FF0000">*
                    {{errors.merokok | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.status ? 'has-error' : '' }}">
                 <select name="status">
                    <option value = "" disabled selected>Status</option>
                    <option value = "belum menikah">Belum menikah</option>
                    <option value = "menikah 1 istri">Menikah 1 istri</option>
                    <option value = "menikah 2 istri">Menikah 2 istri</option>
                    <option value = "menikah 3 istri">Menikah 3 istri</option>
                    <option value = "menikah 4 istri">Menikah 4 istri</option>
                    <option value = "janda bercerai">Janda bercerai</option>
                    <option value = "janda karena meninggal">Janda karena meninggal</option>
                    <option value = "duda bercerai">Duda bercerai</option>
                    <option value = "duda karena meninggal">Duda karena meninggal</option>
                  </select>
                   {% if errors.status %}
                    <span style="color:#FF0000">*
                    {{errors.status | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.jumlah_anak ? 'has-error' : '' }}">
                  <input type="text" class="validate" name="jumlah_anak" value="{{old.jumlah_anak}}">
                  <label style="color:#ecf0f1" for="icon_prefix">Jumlah Anak</label>
                   {% if errors.jumlah_anak %}
                    <span style="color:#FF0000">*
                    {{errors.jumlah_anak | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.status_tinggal ? 'has-error' : '' }}">
                   <select name="status_tinggal">
                    <option value = "" disabled selected>Status Tempat Tinggal</option>
                    <option value = "rumah seniri">Rumah sendiri</option>
                    <option value = "rumah sewa">Rumah sewa</option>
                    <option value = "bersama orang tua">Bersama orang tua</option>
                    <option value = "bersama teman">Bersama teman</option>
                  </select>
                   {% if errors.status_tinggal %}
                    <span style="color:#FF0000">*
                    {{errors.status_tinggal | first}}</span>
                  {% endif %}
                </div>

                <div class="input-field col s12 {{ errors.memiliki_cicilan ? 'has-error' : '' }}">
                  <select name="memiliki_cicilan">
                      <option value = "" disabled selected>Memiliki Cicilan</option>
                      <option value = "ya, syari">Ya, syar'i</option>
                      <option value = "ya, riba">Ya, riba</option>
                      <option value = "tidak">tidak</option>
                  </select>
                   {% if errors.memiliki_cicilan %}
                    <span style="color:#FF0000">*
                    {{errors.memiliki_cicilan | first}}</span>
                  {% endif %}
                </div>

                 <div class="input-field col s12 {{ errors.bersedia_pindah_tinggal ? 'has-error' : '' }}">
                  <select name="bersedia_pindah_tinggal">
                      <option value = "" disabled selected>Bersedia Pindah Tempat Tinggal</option>
                      <option value = "ya">Ya</option>
                      <option value = "mungkin">Mungkin</option>
                      <option value = "tidak">tidak</option>
                  </select>
                   {% if errors.bersedia_pindah_tinggal %}
                    <span style="color:#FF0000">*
                    {{errors.bersedia_pindah_tinggal | first}}</span>
                  {% endif %}
                </div>
              <button class="btn waves-effect waves-light">Create</button>
            </form>
          </div>

</div>
{% endblock %}
