{% extends 'user/templates/default.twig' %}
{% block title %} Statistik {% endblock %}
{% block content %}
<!-- <div class="container" style="width:100%;">
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#photo">Request list</a></li>
        <li class="tab col s6"><a href="#galery" style="float:right">Taaruf list</a></li>
      </ul>
    </div>
    <div id="photo" class="col s12">
         <div class="divider"></div>
        <p style="font-family:initial;font-style:oblique;font-size:20px">Request List</p>
     <div class="collection">
             {% if login.gender == 'perempuan' %}
            <div class="row section">
              <div class="col s12 m12 l12">
    </div><br><br>
     {% for data in data %}
         
    <p class="collection-item"><span class="" style="float:right"><a href="{{ path_for('user.cancel-request', {id:data.id}) }}" style="color:red" data-position="bottom" data-delay="50" data-tooltip="Batalkan Request" class="tooltipped"><i class="material-icons">clear</i></a></span><a href=""><img src="{{ base_url() }}/assets/picture/avatar.png"  class="circle responsive-img"  width="650" style="width:10%" alt=""></a><br>{{data.terequest}} <b style="color:black;float:right">Menunggu Response</b></p>
     {% endfor %}

     {% else %}

     {% for data in data %}
            
    <p class="collection-item"><span class="" style="float:right"><a href="{{ path_for('user.cancel-request', {id:data.id}) }}" style="color:red" data-position="bottom" data-delay="50" data-tooltip="Batalkan Request" class="tooltipped"><i class="material-icons">clear</i></a></span><a href=""><img src="{{ base_url() }}/assets/picture/woman.jpg"  class="circle responsive-img"  width="650" style="width:10%" alt=""></a><br>{{data.terequest}} <b style="color:black;float:right">Menunggu Response</b></p>
     {% endfor %}
    </div>
    </div>
    </div>
     {% endif %}

    <div id="galery" class="col s12">
         <div class="divider"></div>
        <p style="font-family:initial;font-style:oblique;font-size:20px">Taaruf List</p>
     <div class="collection">
            <div class="row section">

     {% for data in taaruf %}
    {% if login.gender == 'laki-laki' %}
    <p class="collection-item"><span class="" style="float:right"><a href="{{ path_for('user.cancel.taaruf', {id:data.id}) }}" style="color:red" data-position="bottom" data-delay="50" data-tooltip="Akhiri Taaruf" class="tooltipped"><i class="material-icons">clear</i></a></span>

    <img src="{{ base_url() }}/assets/picture/avatar.png"  class="circle responsive-img"  width="650" style="width:10%" alt=""><b style="">{{data.perequest}}</b>&emsp;&emsp;&emsp;<b style="font-family:initial;font-style:oblique;font-size:15px">Sedang Taaruf Dengan</b>&emsp;&emsp;&emsp;
    <img src="{{ base_url() }}/assets/picture/woman.jpg"  class="circle responsive-img"  width="650" style="width:10%;" alt=""><b style="">{{data.terequest}}</b>
    </p>
    {% else %}
    <p class="collection-item"><span class="" style="float:right"><a href="{{ path_for('user.cancel.taaruf', {id:data.id}) }}" style="color:red" data-position="bottom" data-delay="50" data-tooltip="Akhiri Taaruf" class="tooltipped"><i class="material-icons">clear</i></a></span>

    <img src="{{ base_url() }}/assets/picture/woman.png"  class="circle responsive-img"  width="650" style="width:10%" alt=""><b style="">{{data.perequest}}</b>&emsp;&emsp;&emsp;<b style="font-family:initial;font-style:oblique;font-size:15px">Sedang Taaruf Dengan</b>&emsp;&emsp;&emsp;
    <img src="{{ base_url() }}/assets/picture/avatar.jpg"  class="circle responsive-img"  width="650" style="width:10%;" alt=""><b style="">{{data.terequest}}</b>
    {% endif %}
     {% endfor %}
    </div>
    </div>

  </div> -->
   <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#request">List Request</a></li>
        <li class="tab col s6"><a href="#taaruf">List Taaruf</a></li>
      </ul>
    </div>

    <!-- Tab Request -->
    <div id="request" class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><b style="font-family:initial;font-style:oblique;font-size:20px">List Request</b></li>
            {% for request in data %}
            {% if login.gender == 'perempuan' %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/avatar.png" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; <a href="{{ path_for('user.view.detail.user', {id:request.id_terequest}) }}" style="color:#26a69a">{{request.terequest}}</a><a href="{{ path_for('user.cancel-request', {id:request.id}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Batalkan Request" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;">Menuggu Response | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{request.created_at|date("F jS \\a\\t H:i")}}">{{request.created_at|date("H:i")}}</a> &emsp;</i></li>
            {% else %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/woman.jpg" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; <a href="{{ path_for('user.view.detail.user', {id:request.id_terequest}) }}" style="color:#26a69a">{{request.terequest}}</a><a href="{{ path_for('user.cancel-request', {id:request.id}) }}" style="color:red;float:right;" data-position="bottom" data-delay="50" data-tooltip="Batalkan Request" class="tooltipped"><i class="material-icons">clear</i></a><i style="float:right;">Menuggu Response | <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{request.created_at|date("F jS \\a\\t H:i")}}">{{request.created_at|date("H:i")}}</a> &emsp;</i> </li>
            {% endif %}
            {% endfor %}
            {% if pagination.total_data == null %}
            <center><i style="font-family:initial;font-style:oblique;font-size:20px">data tidak ada</i></center>
            {% endif %}
      </ul>
    </div>

    <!-- Tab Taaaruf -->
    <div id="taaruf" class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><b style="font-family:initial;font-style:oblique;font-size:20px">List Taaruf</b></li>
            {% for taaruf in taaruf %}
            {% if login.gender == 'perempuan' %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/woman.jpg" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; 
               {% if login.id == taaruf.id_perequest %}
                <a href="{{ path_for('user.view.detail.user', {id:taaruf.id_terequest}) }}" style="float:right;color:#26a69a">{{taaruf.terequest}} &nbsp;<img src="{{ base_url() }}/assets/picture/avatar.png" style="float:right;width:25px" class="circle responsive-img" alt=""></a>
                {% else %}
                <a href="{{ path_for('user.view.detail.user', {id:taaruf.id_perequest}) }}" style="float:right;color:#26a69a">{{taaruf.perequest}} &nbsp;<img src="{{ base_url() }}/assets/picture/avatar.png" style="float:right;width:25px" class="circle responsive-img" alt=""></a>
                {% endif %}
                <i style="float:right;"><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sejak {{taaruf.updated_at|date("F jS \\a\\t H:i")}}">Sedang Taaruf Dengan</a> &emsp;&emsp;&emsp;&emsp;&emsp;</i></li>
            {% else %}
                <li class="collection-item"><img src="{{ base_url() }}/assets/picture/avatar.png" style="float:left;width:25px" class="circle responsive-img" alt="">&nbsp; <a href="" style="color:#26a69a">Anda</a>
                {% if login.id == taaruf.id_perequest %}
                <a href="{{ path_for('user.view.detail.user', {id:taaruf.id_terequest}) }}" style="float:right;color:#26a69a">{{taaruf.terequest}} &nbsp;<img src="{{ base_url() }}/assets/picture/woman.jpg" style="float:right;width:25px" class="circle responsive-img" alt=""></a>
                {% else %}
                <a href="{{ path_for('user.view.detail.user', {id:taaruf.id_perequest}) }}" style="float:right;color:#26a69a">{{taaruf.perequest}} &nbsp;<img src="{{ base_url() }}/assets/picture/woman.jpg" style="float:right;width:25px" class="circle responsive-img" alt=""></a>
                {% endif %}
                <i style="float:right;"><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sejak {{taaruf.updated_at|date("F jS \\a\\t H:i")}}">Sedang Taaruf Dengan</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</i></li>            
                {% endif %}
            {% endfor %}
      </ul>
    </div>
    </div>
    test
{% endblock %}