<!-- / main menu header-->
      <!-- main menu content-->
      <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
        <li><a>
          {% if (login.role == 2) and (login.gender == 'laki-laki') %}
              <i class=""></i><span><b class="tag tag-info">Moderator</b></span>
          {% elseif (login.role == 2) and (login.gender == 'perempuan') %}
              <i class=""></i><span><b class="tag tag-primary">Moderator</b></span>
          {% elseif (login.role == 1) and (login.gender == 'laki-laki') %}
              <i class=""></i><span><b class="tag tag-info">Admin</b></span>
          {% elseif (login.role == 1) and (login.gender == 'perempuan') %}
              <i class=""></i><span><b class="tag tag-primary">Admin</b></span>
           {% endif %}
        </li></a>
        {% if login.role == 1 %}
          <li class=" nav-item"><a href="{{ base_url() }}/admin/home"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Home</span></a>
          </li>
          <li class=" nav-item"><a href="#"><i class="icon-users"></i><span data-i18n="nav.page_layouts.main" class="menu-title">Member</span></a>
            <ul class="menu-content">
              <li><a href="{{ base_url() }}/admin/user" data-i18n="nav.page_layouts.1_column" class="menu-item">Semua Member</a>
              </li>
              <li><a href="{{ base_url() }}/admin/user/new" data-i18n="nav.page_layouts.2_columns" class="menu-item">Member baru</a>
              </li>
              <li><a href="{{ base_url() }}/admin/user/pria" data-i18n="nav.page_layouts.boxed_layout" class="menu-item">List member pria</a>
              </li>
              <li><a href="{{ base_url() }}/admin/user/wanita" data-i18n="nav.page_layouts.static_layout" class="menu-item">List member wanita</a>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="icon-briefcase4"></i><span data-i18n="nav.project.main" class="menu-title">CRUD</span></a>
            <ul class="menu-content">
              <li><a href="{{ base_url() }}/admin/negara" data-i18n="nav.invoice.invoice_template" class="menu-item">Negara</a>
              </li>
              <li><a href="{{ base_url() }}/admin/provinsi" data-i18n="nav.gallery_pages.gallery_grid" class="menu-item">Provinsi</a>
              </li>
              <li><a href="{{ base_url() }}/admin/kota" data-i18n="nav.search_pages.search_page" class="menu-item">Kota</a>
              <li><a href="{{ base_url() }}/admin/user/create" data-i18n="nav.search_pages.search_page" class="menu-item">Member</a>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="icon-ios-bell"></i><span data-i18n="nav.cards.main" class="menu-title">Notification <b style="" class="tag tag-pill tag-default tag-danger tag-default">{{ notif.req|length + notif.blok|length + notif.approve|length }}</b></span></a>
            <ul class="menu-content">
              <li><a href="{{ path_for('admin.notification.all') }}" data-i18n="nav.cards.card_bootstrap" class="menu-item">All Notification</a>
              </li>
              <!-- <li><a href="card-actions.html" data-i18n="nav.cards.card_actions" class="menu-item">Card Action</a> -->
              </li>
            </ul>
          </li>
          <li class=" navigation-header"><span data-i18n="nav.category.support">Lainya</span><i data-toggle="tooltip" data-placement="right" data-original-title="Support" class="icon-ellipsis icon-ellipsis"></i>
          </li>
          <li class=" nav-item"><a href="{{ base_url() }}/admin/user/get-request-all"><i class="icon-bar-chart"></i><span class="menu-title">Get All Request</span></a>
          </li>
         <!--  <li class=" nav-item"><a href="{{ base_url() }}/admin/user/get-taaruf"><i class="icon-support"></i><span class="menu-title">Request</span></a>
          </li> -->
          <li class=" nav-item"><a href="{{ base_url() }}/admin/user/get-taaruf"><i class="icon-man-woman"></i><span class="menu-title">User Proses</span></a>
          </li>
          {% endif %}
      {% if login.role == 2 %}
      <li class=" nav-item"><a href="{{ base_url() }}/admin/home"><i class="icon-home3"></i><span data-i18n="nav.page_layouts.main" class="menu-title">Home</span></a>
      <li class=" nav-item"><a href="{{ base_url() }}/admin/user/new"><i class="icon-users"></i><span data-i18n="nav.dash.main" class="menu-title">New Member</span></a>
      </li>
      <li class=" nav-item"><a href="{{ base_url() }}/admin/user/get-request-all"><i class="icon-ios-gear"></i><span data-i18n="nav.dash.main" class="menu-title">Member Request</span></a>
      </li>
      <li class=" nav-item"><a href="{{ base_url() }}/admin/user/get-taaruf"><i class="icon-man-woman"></i><span data-i18n="nav.dash.main" class="menu-title">Member Taaruf</span></a>
      </li>
      {% endif %}
        </ul>
      </div>
